*{
    margin: 0px;
    padding: 0px;
    
}
a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    
}
.a :hover{
    cursor: pointer;
}
p{
    cursor: default ;
}
section {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content:space-around;
    align-items: center;
    top: 87vh;
    height: 70px;
   
   right: 0%;
   left: 0%;
}
nav{
    position: absolute;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 70px;
    
    
    left: 0%;
    right: 0%;
    
    
}
body{
    background-color: rgb(233,231,218);
    position:relative
}
img{
    width: 500px;
    height: 90vh;
       
}
main div{
    position: absolute;
    z-index: -1;
}
.foto{
    position: relative;
    z-index: 5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:end;
    
}
.primerdiv{
    display: flex;
    align-items: center;
    position:absolute;
    background-color: rgb(216,214,204);
    bottom: 70%;
    right: 52%;
    width: 20%;
    height: 12%;
}
.primerafrase{
   
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.segundodiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(57,62,68);
    bottom: 42%;
    width: 50%;
    height: 12%;
    right: 50%;
}
.segundafrase{
    width: 41%;
    color: white;
    font-weight: 400 ;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    
}
.tercerdiv{
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: absolute;
    background-color: rgb(216,214,204);
    bottom: 42%;
    width: 50%;
    height: 12%;
    left: 50%;
}
.tercerafrase{
    position: relative;
    margin-left: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.frasefondo1{
    color: rgb(233,231,218);
    font-family: 'Roboto', sans-serif;
    left: 25px;
    top: -12px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 50px;
}
.frasefondo2{
    color: rgb(233,231,218);
    font-family: 'Roboto', sans-serif;
    left: 25px;
    top: 30px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size:50px;
}
.cuartodiv{
    display: flex;
    justify-content: end;
    align-items: center;
    position:absolute;
    background-color: rgb(57,62,68);
    bottom: 17%;
    right: 28%;
    width: 23%;
    height: 12%;

}
.cuartafrase{
    color: white;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
section p{
    text-align: center;
    text-decoration: none;
    color: rgb(57,62,68);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    cursor:default;
}
.cajas1{
    right: 10%;
}
.cajas2{
    left: 10%;
}
.numeros8{
    position:absolute;
    left: 10%;
    bottom: 65%;
    font-size: 50px;
    font-weight: 400;

}
.numeros120{
    color: rgb(234,232,219);
    position: absolute;
    right: 51.5%;
    bottom: 65%;
    font-size: 50px;
    font-weight: 200;
}
.blanco{
    color: white;
    font-weight: 400;
}
.infinito{
    position: absolute;
    width: 75px;
    left: 75%;
    top: -155%;
    bottom: 0%;
    height: 200px;
    color: rgb(57,62,68);
    fill: rgb(57,62,68);
}
.abajo{
    height: auto;
    margin-left: 5px;
    width: 50px;
    cursor: pointer;
    border-radius: 30%;
}
.adelante{
    width: 50px;
    margin-right: 5px;
    height: auto;
    cursor: pointer;
}