*{
    margin: 0px;
    padding: 0px;
    
}
a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    
}
a:hover{
    
}

nav{
    position: absolute;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 70px;
    
    
    left: 0%;
    right: 0%;
    
    
}
body{
    background-color: rgb(233,231,218);
    position:relative
}
img{
    width: 500px;
    height: 90vh;
       
}
main div{
    position: absolute;
    z-index: -1;
}
.foto{
    position: relative;
    z-index: 5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:end;
    
}
.primerdiv{
    display: flex;
    align-items: center;
    position:absolute;
    background-color: rgb(216,214,204);
    bottom: 70%;
    right: 52%;
    width: 20%;
    height: 12%;
}
.primerafrase{
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.segundodiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(57,62,68);
    bottom: 42%;
    width: 50%;
    height: 12%;
    right: 50%;
}
.segundafrase{
    width: 41%;
    color: white;
    font-weight: 400 ;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    
}
.tercerdiv{
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: absolute;
    background-color: rgb(216,214,204);
    bottom: 42%;
    width: 50%;
    height: 12%;
    left: 50%;
}
.tercerafrase{
    position: relative;
    margin-left: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
}
.frasefondo1{
    color: rgb(233,231,218);
    font-family: 'Roboto', sans-serif;
    left: 25px;
    top: -12px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 50px;
}
.frasefondo2{
    color: rgb(233,231,218);
    font-family: 'Roboto', sans-serif;
    left: 25px;
    top: 30px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size:50px;
}
.cuartodiv{
    display: flex;
    justify-content: end;
    align-items: center;
    position:absolute;
    background-color: rgb(57,62,68);
    bottom: 17%;
    right: 28%;
    width: 23%;
    height: 12%;

}
.cuartafrase{
    color: white;
    margin-right: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}